general:

  logfile:                              'yourlogfile.log'

connections:

  Your_Name:
    email:                              'youremail@domain.tld'
    method:				'ftp'
    port:				'21'
    login:                              'ftpusername'
    password:				'ftppassword'
    host:                               'hostname'
    destination:                        '/home/username'
    transfer:
      - Something_You_Want:
          match: '^Something\.You\.Want\..*'
          location: 'SUBDIRECTORY'
      - Something_Else:
          match: '^Something\.Else\..*'

  Your_Friend:
    email:                              'hisemail@domain.tld'
    method:				'rsync'
    port:				'22'
    password:				''
    login:                              'hisuser'
    host:                               'hishost'
    destination:                        '/home/hisuser'
    transfer:
      - He_Wants_This:
          match: '^He\.Wants\.This\.*'
